---
layout: main--layout
---

<section>
  <h1 class="project__main-title">{{page.title}}</h1>
  <h4 class="project__short-text">{{page.short-text}}</h4>
  <img class="project__main-image" src="{{page.main-image}}" alt="Header image for {{page.title}}" />
  {% if page.hashtags %}
    <p>
      {% for hashtag in page.hashtags %}
        <span class="project__hashtag">{{hashtag}}</span>
      {% endfor %}
    </p>
  {% endif %}
</section>

<section>
  {% if page.para-1 %}
    <p class="project__full-text-para">{{page.para-1}}</p>
  {% endif %}

  {% if page.image-set-1 %}
  <div class="container justify-content-center project-image-set__container">
    <div class="row">
      {% for image in page.image-set-1 %}
        <a href="{{image}}" data-toggle="lightbox" data-gallery="project-gallery" class="col-sm-6 col-md-4 project-image-set__item-container">
            <img src="{{image}}" class="img-fluid">
        </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if page.para-2 %}
    <p class="project__full-text-para">{{page.para-2}}</p>
  {% endif %}

  {% if page.image-set-2 %}
  <div class="container justify-content-center project-image-set__container">
    <div class="row">
      {% for image in page.image-set-2 %}
        <a href="{{image}}" data-toggle="lightbox" data-gallery="project-gallery" class="col-sm-6 col-md-4 project-image-set__item-container">
            <img src="{{image}}" class="img-fluid">
        </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if page.para-3 %}
    <p class="project__full-text-para">{{page.para-3}}</p>
  {% endif %}

</section>
